/* =Variables
-------------------------------------------------------------- */
$base-font-size: 20px;
$base-body-color: #fff;
$icon-color: #ff0000;
$primary-font-color: #000;
$link-color: #f3f3f3;
$title: $helvetica;
$content: $lucida-grande;
